[Unit]
Description="HashiCorp Consul - Service Mesh Made Easy"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/consul/config/consul.json

[Service]
Type=notify
User=consul
Group=consul

ExecStart=/usr/bin/consul agent -config-dir=/opt/consul/config/
# Reload necessary for services to start on Agent Nodes
# See Issue 6521: https://github.com/hashicorp/consul/issues/6521
# ExecStartPost=/usr/bin/consul reload
ExecReload=/usr/bin/consul reload
ExecStop=/usr/bin/consul leave

KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target